{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center align-items-center">
        <!-- Columna de escena -->
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="escena-pixel">
                <div class="svg-container">
                    <svg id="escena" viewBox="0 0 1184 750" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
                        <image href="{% static 'img/escritorio3.png' %}" width="1184" height="750" />
                        <rect class="ventana" id="v1" x="103" y="13" width="87" height="125" rx="5" />
                        <rect class="ventana" id="v2" x="210" y="13" width="98" height="125" rx="5" />
                        <rect class="ventana" id="v3" x="333" y="13" width="101" height="125" rx="5" />
                        <rect class="ventana" id="v4" x="455" y="13" width="86" height="125" rx="5" />
                    </svg>
                </div>
            </div>
        </div>

        <!-- Columna de cards de contacto -->
        <div class="contact col-12 col-lg-6">
            <h2 class="mb-4">Contáctame</h2>
            <div class="row g-3">
                <!-- LinkedIn -->
                <div class="col-6">
                    <div class="card shadow-sm text-center p-3 h-100">
                        <a href="https://www.linkedin.com/in/johana-torres-romero/" target="_blank">
                            <img src="{% static 'img/LinkedIn_icon.png' %}" alt="LinkedIn" class="img-fluid mb-2" style="height:50px;">
                            <h5 class="card-title mb-0">LinkedIn</h5>
                        </a>
                    </div>
                </div>
                <!-- GitHub -->
                <div class="col-6">
                    <div class="card shadow-sm text-center p-3 h-100">
                        <a href="https://github.com/JATeR912" target="_blank">
                            <img src="{% static 'img/GitHub_icon.png' %}" alt="GitHub" class="img-fluid mb-2" style="height:50px;">
                            <h5 class="card-title mb-0">GitHub</h5>
                        </a>
                    </div>
                </div>
                <!-- Behance -->
                <div class="col-6">
                    <div class="card shadow-sm text-center p-3 h-100">
                        <a href="https://www.behance.net/JATeR" target="_blank">
                            <img src="{% static 'img/Behance_icon.png' %}" alt="Behance" class="img-fluid mb-2" style="height:50px;">
                            <h5 class="card-title mb-0">Behance</h5>
                        </a>
                    </div>
                </div>
                <!-- Correo -->
                <div class="col-6">
                    <div class="card shadow-sm text-center p-3 h-100">
                        <a href="mailto:jater.code@gmail.com">
                            <img src="{% static 'img/Correo_icon.png' %}" alt="Correo" class="img-fluid mb-2" style="height:50px;">
                            <h5 class="card-title mb-0">Correo</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}